<span></span>

<table id="bakerytable" ng-init="loadData()" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Type</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="data in bakery">
            <td>{{data.name}}</td>
            <td>{{data.price}}</td>
            <td>{{data.type}}</td>
            <td class="text-center" width="5%">
                <span class="glyphicon glyphicon-edit"></span> <span class="glyphicon glyphicon-trash"></span>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center" ng-init="h=190;w=70;">
    <form ng-submit="bmicalculator()">
        <div class="form-group">
            <label for="weight">Weight (KG)</label>
            <input required type="number" ng-model="w" ng-change="bmicalculator()" class="form-control" id="weight" placeholder="Please input your weight (KG)">
        </div>
        <div class="form-group">
            <label for="height">Height (CM)</label>
            <input required type="number" ng-model="h" ng-change="bmicalculator()" class="form-control" id="height" placeholder="Please input your height (KG)">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <button type="button" ng-click="resetBMI()" class="btn btn-default">Reset</button>
    </form>
    <h1 ng-if="bmi > 0 && bmi <= 100"> <span id="numberanimation" ng-bind="bmi | number:2"> </span> {{meaning}}</h1>
    {{w / (h/100 * h/100) | number:2}}
</div>